.header {
    height: 100vh;
    background-color:   #f2f2f2;
    display: flex;
    justify-content: space-between;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    /*border: 1px red solid;*/
    overflow: hidden;
  }